# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [2]:
# Import the required packages
using Distributions, DataFrames

In [2]:
# Seed the random number generator
srand(1234);

UndefVarError: UndefVarError: srand not defined

In [3]:
# Question 4: Create the 3 x 30 array named array_1
array_1 =[rand(30) rand(Normal(10,2),30) rand(5:15,30)]

30×3 Array{Float64,2}:
 0.773817   10.764     8.0
 0.811597    7.34033   9.0
 0.893235   11.2522   11.0
 0.563344   15.9879   15.0
 0.170243   11.6656   14.0
 0.257684   14.8144   10.0
 0.888013    9.4384   10.0
 0.679296    8.80718  13.0
 0.205036   11.4063    7.0
 0.890285    9.59052   5.0
 0.168486   13.6154   11.0
 0.7012     11.0726   12.0
 0.207848   11.872     6.0
 ⋮
 0.390719    8.90974   8.0
 0.105806    8.38163  11.0
 0.292351    6.58396   6.0
 0.465879    9.51567  14.0
 0.63841    11.3858    8.0
 0.0933107   7.43437  12.0
 0.398626    9.41665  14.0
 0.472634    8.08634   5.0
 0.15303    13.1014   10.0
 0.935445   13.3166   15.0
 0.049288    7.23733   8.0
 0.806641    9.21733  12.0

In [5]:
array_1 =[rand(30) rand(Normal(10,2),30) rand(5:15,30)]

30×3 Array{Float64,2}:
 0.358321   10.2156   11.0
 0.360731   12.624    10.0
 0.230269    9.47592   8.0
 0.34472    11.3712   11.0
 0.821284    8.61355  11.0
 0.162836   13.4577   15.0
 0.866049   15.5669    8.0
 0.0735025   9.8031   11.0
 0.437606   10.6067    7.0
 0.264748    9.91929   9.0
 0.878577    8.06605   7.0
 0.488354   11.9355   11.0
 0.412494   11.8381    9.0
 ⋮
 0.748273    9.90383  11.0
 0.652191   14.7986   11.0
 0.0428449  11.8319    9.0
 0.864452   11.02      9.0
 0.891711   11.496    10.0
 0.521243    7.80415  14.0
 0.301125    7.73562  14.0
 0.517325    9.44229  10.0
 0.802277   11.4909   14.0
 0.777462    8.17799   9.0
 0.808756    8.57945  12.0
 0.569041    7.66903  14.0

In [7]:
# Question 5: Mean and variance of column 1
println("mean:",mean(array_1[:,1])," and var:",var(array_1[:,1]))

mean:0.5491469116231781 and var:0.07990567052073189

In [8]:
# Question 5 (continued): Mean and variance of column 2
println("mean:",mean(array_1[:,2])," and var:",var(array_1[:,2]))

mean:10.337334764929881 and var:4.537773589085106

In [9]:
# Question 5 (continued): Mean and variance of column 3
println("mean:",mean(array_1[:,3])," and var:",var(array_1[:,3]))

mean:10.366666666666667 and var:5.412643678160919

In [10]:
# Question 6: Import array_1 into a DataFrame named df
df = DataFrame(array_1)

30×3 DataFrame
│ Row │ x1        │ x2      │ x3      │
│     │ Float64   │ Float64 │ Float64 │
├─────┼───────────┼─────────┼─────────┤
│ 1   │ 0.358321  │ 10.2156 │ 11.0    │
│ 2   │ 0.360731  │ 12.624  │ 10.0    │
│ 3   │ 0.230269  │ 9.47592 │ 8.0     │
│ 4   │ 0.34472   │ 11.3712 │ 11.0    │
│ 5   │ 0.821284  │ 8.61355 │ 11.0    │
│ 6   │ 0.162836  │ 13.4577 │ 15.0    │
│ 7   │ 0.866049  │ 15.5669 │ 8.0     │
│ 8   │ 0.0735025 │ 9.8031  │ 11.0    │
│ 9   │ 0.437606  │ 10.6067 │ 7.0     │
│ 10  │ 0.264748  │ 9.91929 │ 9.0     │
⋮
│ 20  │ 0.652191  │ 14.7986 │ 11.0    │
│ 21  │ 0.0428449 │ 11.8319 │ 9.0     │
│ 22  │ 0.864452  │ 11.02   │ 9.0     │
│ 23  │ 0.891711  │ 11.496  │ 10.0    │
│ 24  │ 0.521243  │ 7.80415 │ 14.0    │
│ 25  │ 0.301125  │ 7.73562 │ 14.0    │
│ 26  │ 0.517325  │ 9.44229 │ 10.0    │
│ 27  │ 0.802277  │ 11.4909 │ 14.0    │
│ 28  │ 0.777462  │ 8.17799 │ 9.0     │
│ 29  │ 0.808756  │ 8.57945 │ 12.0    │
│ 30  │ 0.569041  │ 7.66903 │ 14.0    │

In [11]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df,Dict(:x1=>:Var1,:x2=>:Var2,:x3=>:Var3))

30×3 DataFrame
│ Row │ Var1      │ Var2    │ Var3    │
│     │ Float64   │ Float64 │ Float64 │
├─────┼───────────┼─────────┼─────────┤
│ 1   │ 0.358321  │ 10.2156 │ 11.0    │
│ 2   │ 0.360731  │ 12.624  │ 10.0    │
│ 3   │ 0.230269  │ 9.47592 │ 8.0     │
│ 4   │ 0.34472   │ 11.3712 │ 11.0    │
│ 5   │ 0.821284  │ 8.61355 │ 11.0    │
│ 6   │ 0.162836  │ 13.4577 │ 15.0    │
│ 7   │ 0.866049  │ 15.5669 │ 8.0     │
│ 8   │ 0.0735025 │ 9.8031  │ 11.0    │
│ 9   │ 0.437606  │ 10.6067 │ 7.0     │
│ 10  │ 0.264748  │ 9.91929 │ 9.0     │
⋮
│ 20  │ 0.652191  │ 14.7986 │ 11.0    │
│ 21  │ 0.0428449 │ 11.8319 │ 9.0     │
│ 22  │ 0.864452  │ 11.02   │ 9.0     │
│ 23  │ 0.891711  │ 11.496  │ 10.0    │
│ 24  │ 0.521243  │ 7.80415 │ 14.0    │
│ 25  │ 0.301125  │ 7.73562 │ 14.0    │
│ 26  │ 0.517325  │ 9.44229 │ 10.0    │
│ 27  │ 0.802277  │ 11.4909 │ 14.0    │
│ 28  │ 0.777462  │ 8.17799 │ 9.0     │
│ 29  │ 0.808756  │ 8.57945 │ 12.0    │
│ 30  │ 0.569041  │ 7.66903 │ 14.0    │

In [13]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2=last(df,20)

20×3 DataFrame
│ Row │ Var1      │ Var2    │ Var3    │
│     │ Float64   │ Float64 │ Float64 │
├─────┼───────────┼─────────┼─────────┤
│ 1   │ 0.878577  │ 8.06605 │ 7.0     │
│ 2   │ 0.488354  │ 11.9355 │ 11.0    │
│ 3   │ 0.412494  │ 11.8381 │ 9.0     │
│ 4   │ 0.835925  │ 7.59    │ 12.0    │
│ 5   │ 0.685058  │ 11.586  │ 9.0     │
│ 6   │ 0.063973  │ 11.2391 │ 10.0    │
│ 7   │ 0.698442  │ 8.08366 │ 5.0     │
│ 8   │ 0.994817  │ 8.17779 │ 10.0    │
│ 9   │ 0.748273  │ 9.90383 │ 11.0    │
│ 10  │ 0.652191  │ 14.7986 │ 11.0    │
│ 11  │ 0.0428449 │ 11.8319 │ 9.0     │
│ 12  │ 0.864452  │ 11.02   │ 9.0     │
│ 13  │ 0.891711  │ 11.496  │ 10.0    │
│ 14  │ 0.521243  │ 7.80415 │ 14.0    │
│ 15  │ 0.301125  │ 7.73562 │ 14.0    │
│ 16  │ 0.517325  │ 9.44229 │ 10.0    │
│ 17  │ 0.802277  │ 11.4909 │ 14.0    │
│ 18  │ 0.777462  │ 8.17799 │ 9.0     │
│ 19  │ 0.808756  │ 8.57945 │ 12.0    │
│ 20  │ 0.569041  │ 7.66903 │ 14.0    │

In [14]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min       │ median  │ max      │ nunique │
│     │ Symbol   │ Float64  │ Float64   │ Float64 │ Float64  │ Nothing │
├─────┼──────────┼──────────┼───────────┼─────────┼──────────┼─────────┤
│ 1   │ Var1     │ 0.627717 │ 0.0428449 │ 0.69175 │ 0.994817 │         │
│ 2   │ Var2     │ 9.9233   │ 7.59      │ 9.67306 │ 14.7986  │         │
│ 3   │ Var3     │ 10.5     │ 5.0       │ 10.0    │ 14.0     │         │

In [17]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1]=rand(["Group1","Group2"],20)
df2

20×4 DataFrame
│ Row │ Var1      │ Var2    │ Var3    │ Cat1   │
│     │ Float64   │ Float64 │ Float64 │ String │
├─────┼───────────┼─────────┼─────────┼────────┤
│ 1   │ 0.878577  │ 8.06605 │ 7.0     │ Group1 │
│ 2   │ 0.488354  │ 11.9355 │ 11.0    │ Group2 │
│ 3   │ 0.412494  │ 11.8381 │ 9.0     │ Group2 │
│ 4   │ 0.835925  │ 7.59    │ 12.0    │ Group1 │
│ 5   │ 0.685058  │ 11.586  │ 9.0     │ Group2 │
│ 6   │ 0.063973  │ 11.2391 │ 10.0    │ Group1 │
│ 7   │ 0.698442  │ 8.08366 │ 5.0     │ Group2 │
│ 8   │ 0.994817  │ 8.17779 │ 10.0    │ Group2 │
│ 9   │ 0.748273  │ 9.90383 │ 11.0    │ Group1 │
│ 10  │ 0.652191  │ 14.7986 │ 11.0    │ Group1 │
│ 11  │ 0.0428449 │ 11.8319 │ 9.0     │ Group2 │
│ 12  │ 0.864452  │ 11.02   │ 9.0     │ Group1 │
│ 13  │ 0.891711  │ 11.496  │ 10.0    │ Group1 │
│ 14  │ 0.521243  │ 7.80415 │ 14.0    │ Group2 │
│ 15  │ 0.301125  │ 7.73562 │ 14.0    │ Group1 │
│ 16  │ 0.517325  │ 9.44229 │ 10.0    │ Group1 │
│ 17  │ 0.802277  │ 11.4909 │ 14.0    │ Group1 │
│ 18  │ 0.777462  │ 8.17799 │ 9.0     │ Group1 │
│ 19  │ 0.808756  │ 8.57945 │ 12.0    │ Group2 │
│ 20  │ 0.569041  │ 7.66903 │ 14.0    │ Group1 │

In [34]:
# Question 11: Create a new DataFrame named df3
# Question 11: Create a new DataFrame named df3
# df3=DataFrame(A=Union{Int64,Missings.Missing}[1, 2 ,3,missing],B=Union{Int64,Missings.Missing}[4 ,5, 6,missing],C=Union{Int64,Missings.Missing}[1 ,2 ,2,missing])
# df3[:A]=1:20
# df3[:B]=21:40
# df3[:C]=41:60
# df3=DataFrame(:A=>1:20,:B=>21:40,:C=>41:60,eltypes=[Union{Int64,Missings.Missing},Union{Int64,Missings.Missing},Union{Int64,Missings.Missing}])
df3=DataFrame(A=Union{Int64,Missings.Missing}[],B=Union{Int64,Missings.Missing}[],C=Union{Int64,Missings.Missing}[])
df3 = vcat(df3, DataFrame(A=1:20, B=21:40, C=41:60))
# showcols(df3)
df3

20×3 DataFrame
│ Row │ A      │ B      │ C      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┤
│ 1   │ 1      │ 21     │ 41     │
│ 2   │ 2      │ 22     │ 42     │
│ 3   │ 3      │ 23     │ 43     │
│ 4   │ 4      │ 24     │ 44     │
│ 5   │ 5      │ 25     │ 45     │
│ 6   │ 6      │ 26     │ 46     │
│ 7   │ 7      │ 27     │ 47     │
│ 8   │ 8      │ 28     │ 48     │
│ 9   │ 9      │ 29     │ 49     │
│ 10  │ 10     │ 30     │ 50     │
│ 11  │ 11     │ 31     │ 51     │
│ 12  │ 12     │ 32     │ 52     │
│ 13  │ 13     │ 33     │ 53     │
│ 14  │ 14     │ 34     │ 54     │
│ 15  │ 15     │ 35     │ 55     │
│ 16  │ 16     │ 36     │ 56     │
│ 17  │ 17     │ 37     │ 57     │
│ 18  │ 18     │ 38     │ 58     │
│ 19  │ 19     │ 39     │ 59     │
│ 20  │ 20     │ 40     │ 60     │

In [39]:
# using DataArrays
# Question 12: Change indicated values to empty entries
#In a code cells below, 
#change the values in df3df3 of the following cells to NA: 
#row 10, column 1, row 15, column 2 and row 19, column 3

df3[10,:A]=missing
df3[15,:B]=missing
df3[19,:C]=missing
df3

20×3 DataFrame
│ Row │ A       │ B       │ C       │
│     │ Int64⍰  │ Int64⍰  │ Int64⍰  │
├─────┼─────────┼─────────┼─────────┤
│ 1   │ 1       │ 21      │ 41      │
│ 2   │ 2       │ 22      │ 42      │
│ 3   │ 3       │ 23      │ 43      │
│ 4   │ 4       │ 24      │ 44      │
│ 5   │ 5       │ 25      │ 45      │
│ 6   │ 6       │ 26      │ 46      │
│ 7   │ 7       │ 27      │ 47      │
│ 8   │ 8       │ 28      │ 48      │
│ 9   │ 9       │ 29      │ 49      │
│ 10  │ missing │ 30      │ 50      │
│ 11  │ 11      │ 31      │ 51      │
│ 12  │ 12      │ 32      │ 52      │
│ 13  │ 13      │ 33      │ 53      │
│ 14  │ 14      │ 34      │ 54      │
│ 15  │ 15      │ missing │ 55      │
│ 16  │ 16      │ 36      │ 56      │
│ 17  │ 17      │ 37      │ 57      │
│ 18  │ 18      │ 38      │ 58      │
│ 19  │ 19      │ 39      │ missing │
│ 20  │ 20      │ 40      │ 60      │

In [40]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4=dropmissing(df3)

17×3 DataFrame
│ Row │ A      │ B      │ C      │
│     │ Int64⍰ │ Int64⍰ │ Int64⍰ │
├─────┼────────┼────────┼────────┤
│ 1   │ 1      │ 21     │ 41     │
│ 2   │ 2      │ 22     │ 42     │
│ 3   │ 3      │ 23     │ 43     │
│ 4   │ 4      │ 24     │ 44     │
│ 5   │ 5      │ 25     │ 45     │
│ 6   │ 6      │ 26     │ 46     │
│ 7   │ 7      │ 27     │ 47     │
│ 8   │ 8      │ 28     │ 48     │
│ 9   │ 9      │ 29     │ 49     │
│ 10  │ 11     │ 31     │ 51     │
│ 11  │ 12     │ 32     │ 52     │
│ 12  │ 13     │ 33     │ 53     │
│ 13  │ 14     │ 34     │ 54     │
│ 14  │ 16     │ 36     │ 56     │
│ 15  │ 17     │ 37     │ 57     │
│ 16  │ 18     │ 38     │ 58     │
│ 17  │ 20     │ 40     │ 60     │